.login-root {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  
  .login-root .form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }

  .login-root .error {
    color: red;
  }
  