<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="register-root">
        <form action="/user/register" method="post" class="form" enctype="multipart/form-data" autocomplete="off">
            <label for="txfName">Nombre</label>
            <input type="text" name="name" id="txfName">
            <label for="txfEmail">E-mail</label>
            <input type="text" name="email" id="txfEmail">
            <label for="txfPassword">Contraseña</label>
            <input type="password" name="password" id="txfPassword">
            <label for="txfAvatar">Avatar</label>
            <input type="file" name="avatar" id="txfAvatar">
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>

</html>